#flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  height: 10vh;
  width: 50vw;
  margin: auto;
}

.flex-item {
  padding: 15px;
}

#flex-header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
  width: 15vw;
}

#flex-header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
    width: 15vw;
}

#flex-container-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  width: 50vw;
  height: 70vh;
  margin: auto;
}

#flex-container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
  height: 70vh;
}

.flex-item-left {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 18px;
  margin: 5%;
  width: 9vw;
  height: 10vh;
}

#flex-container-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  width: 30vw;
  height: 70vh;
}

.flex-item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
}

.flex-item-heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15vw;
}

#flex-container-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
  height: 70vh;
}

.flex-item-right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
  margin: 5%;
  width: 9vw;
  height: 20vh;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid pink;
  margin: auto;
  width: 8vw;
  height: 20vh;
}

.saving{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid green;
  width: 8vw;;
  height: 7vh;
}

.transaction{
  display: flex;
  border-radius: 10px;
  border: 1px solid black;
  width: 8vw;;
  height: 15vh;
  margin: 5%;
}

.last-transactions{
    display: flex;
}

#flex-container-footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  height: 20vh;
  width: 50vw;
  margin: auto;
}

#flex-container-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 16vw;
  height: 10vh;
  margin: 2%;
}

#flex-container-cr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}
